.login-content {
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.login-field {
  font-size: small;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  border: solid;
  padding: 2em;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: lightgray;
  color: black;
  margin-bottom: 1em;
}

.login-about {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.login-about-header {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.login-about-subheader {
  font-size: 2em;
  margin-top: 1em;
  /* font-weight: bold; */
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2em;
}

.login-title {
  margin-bottom: 1em;
  color: black;
}

.login-button {
  margin-bottom: 1em;
}

.login-signup-link {
  font-weight: bold;
  color: #15c39a;
  cursor: pointer;
}

.login-signup-text {
  display: flex;
  align-self: center;
  margin-top: 2.5em;
  margin-bottom: 1em;
  font-size: 1rem;
  color: gray;
}

.login-signup-link:hover {
  color: #349c84;
}

.paper {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 0.375rem;
}

@media (max-width: 580px) {
  .login-content {
    margin: 0px;
  }
  .login-field {
    font-size: small;
    display: flex;
    flex-direction: column;
    border: none;
    margin-bottom: 0px;
  }
  .login-form {
    margin-left: 0px;
    margin-top: 2rem;
    text-align: center;
    padding: 2em;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 0.375rem;
    width: fit-content;
  }
}
