.list-row-button {
  margin-left: 1em;
  display: flex;
  align-items: center;
}

select {
  max-width: 150px;
  text-overflow: ellipsis;
}

.list-row-status {
  margin-right: 1em;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.list-row-alert {
  margin-top: 1em;
}
