.list-container {
  overflow-x: auto;
  width: 100%;
}

.list-row-button {
  margin-left: 1em;
  display: flex;
  align-items: center;
}

.list-row-buttons {
  display: flex;
}

select {
  max-width: 150px;
  text-overflow: ellipsis;
}

.list-row-status {
  display: flex;
  margin-right: 1em;
  min-width: 20px;
  min-height: 20px;
  /* border-radius: 50%; */
  justify-content: center;
  cursor: pointer;
}

.list-row-alert {
  margin-top: 1em;
}
