.list-container {
}

.list-row {
  display: flex;
  flex-direction: column;
  text-align: start;
  box-sizing: border-box;
  padding: 16px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 0px 6px 0 rgb(0 0 0 / 20%);
  border-radius: 0.375rem;
}

.list-row-title {
  margin: 0px;
}

.list-row-subtitle {
  margin: 0px;
}

.list-row-body-text {
  margin: 0px;
}
