/* .page-root {
  width: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
}

.left-panel {
  flex: 2;
  padding-top: 20px;
  padding-left: 20px;
}

table {
  table-layout: fixed;
  width: 100%;
}

.right-panel {
  flex: 1;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
} */

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home-submit-button {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  width: 12em;
  align-self: flex-end;
}

@media (max-width: 600px) {
  .home-submit-button {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
