.page-root {
  /* display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-width: 1000px; */
  width: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
}

.left-panel {
  flex: 2;
  padding-top: 20px;
  padding-left: 20px;
}

table {
  table-layout: fixed;
  width: 100%;
}

.right-panel {
  flex: 1;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}
