.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-content {
  max-width: 900px;
  width: 100%;
  min-width: 200px;
}

a {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: gray;
  font-weight: bold;
}
a:hover {
  color: black;
}

p {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

h1 {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-weight: bold;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  border: solid;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: lightgray;
  color: black;
  font-size: medium;
}

textarea {
  border: solid;
  padding: 1em;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: lightgray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: gray;
  margin-bottom: 1em;
}

select {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  padding: 1em;
  border: solid;
  border-width: 1px;
  border-color: lightgray;
  border-radius: 0.375rem;
  cursor: pointer;
  background-color: #efefef;
  display: grid;
}

select::after {
  content: '';
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  padding: 1em;
  border: solid;
  border-width: 1px;
  border-color: lightgray;
  border-radius: 0.375rem;
  cursor: pointer;
}

button:hover {
  background-color: #bdbdbd;
}

.submit-button {
  border-radius: 0.375rem;
  padding: 1em;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: none;
  background-color: #15c39a;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #349c84;
}

/* LIST ITEMS */
.list-row {
  display: flex;
  justify-content: space-between;
  text-align: start;
  align-items: center;
  box-sizing: border-box;
  padding: 1em;
  background-color: white;
  box-shadow: 0 0px 6px 0 rgb(0 0 0 / 20%);
  border-radius: 0.375rem;
  margin-top: 1em;
  cursor: pointer;
}
.list-row:hover {
  background-color: #f6f6f6;
}

.list-row-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list-row-title {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

.list-row-button-group {
  display: flex;
}

.list-row-button {
  margin-left: 1em;
}

/* PAGE ROOTS */
.page-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  align-items: center;
}

@media (max-width: 400px) {
  .page-header {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    align-items: flex-start;
  }

  .page-header-title {
  }

  .submit-button {
    margin-top: 1em;
    width: 100%;
  }
}
